<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userAccount-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>

    <link href="/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

    <div class="container row card align-middle" style="float: none; margin:100px auto; width:20rem; border-radius:20px;">

        <div class="card-title" style="margin-top:30px;">
            <h5 class="card-title text-center" style="color:#113366;">로그인 정보를 입력하세요</h5>
        </div>

        <div class="container card-body">

            <form class="form-signin" th:action="'/jwt-login/login'" th:method="post">

                <label for="uid" class="sr-only">Your ID</label>
                <input type="text" id="uid" class="form-control" name="uid" placeholder="Your ID" required autofocus><BR>

                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" th:name="password" placeholder="Password" required><br>

                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> 아이디 저장
                    </label>
                </div>-->

                <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
                <a class="btn btn-lg btn-secondary btn-block" type="button" th:href="@{/user/Registration}">회원가입</a>
            </form>

        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script>
    function login(){
        var data = {
            uid: $('#uid').val(),
            password: $('#password').val()
        };

        $.ajax({
            type: 'POST',
            url: '/',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(data),
        }).done(function(data,status,xhr){
            let jwtToken = xhr.getResponseHeader('Authorization');
            localStorage.setItem("Authorization", jwtToken);
            location.href = "/";
        }).fail(function (error) {
            alert("존재하지 않는 회원입니다.");
        });
    }

   function before() {
       var token = localStorage.getItem("token");
       $.ajax({
           type: "GET",
           url: "/api/me",
           beforeSend: function (xhr) {
               xhr.setRequestHeader("Content-type","application/json");
               xhr.setRequestHeader("Authorization","JWT " + token);
           },
           success: function (res) {
               console.log(res);
           }
       });
   }
</script>
</body>
</html>