<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userAccount-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <form action="/boardCreateForm" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>글 등록 페이지</legend>

                <div class="mb-3">
                    <label th:for="title" class="form-label" >제목</label> <!--이렇게 해도 for와 똑같다-->
                    <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력해주세요." required>
                </div>

                <div class="mb-3">
                    <label for="content" class="form-label">내용</label>
                    <textarea class="form-control" id="content" name="content" rows="3" placeholder="내용을 입력해주세요." required></textarea>
                </div>
            </fieldset>

            <tr>
                <th>첨부파일</th>
                <td colspan="3">
                    <div class="file_list">
                        <div>
                            <div class="file_input">
                                <input type="text" readonly />
                                <label> 첨부파일
                                    <input type="file" name="file" onchange="selectFile(this);" />
                                </label>
                            </div>
                            <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                            <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
                        </div>
                    </div>
                </td>
            </tr>

            <hr>
            <div class="row mb-5 justify-content-md-center">
                <div class="col-sm-10 d-grid gap-2 d-sm-flex justify-content-sm-end">
                    <button type="submit" class="btn btn-primary" id="submit-button">저장</button>
                    <a class="btn btn-secondary" th:href="@{boardlist}" role="button">취소</a>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
    // 파일 선택
    function selectFile(element) {

        const file = element.files[0];
        const filename = element.closest('.file_input').firstElementChild;

        // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
        if ( !file ) {
            filename.value = '';
            return false;
        }

        // 2. 파일 크기가 10MB를 초과하는 경우
        const fileSize = Math.floor(file.size / 1024 / 1024);
        if (fileSize > 10) {
            alert('10MB 이하의 파일로 업로드해 주세요.');
            filename.value = '';
            element.value = '';
            return false;
        }

        // 3. 파일명 지정
        filename.value = file.name;
    }

    // 파일 추가
    function addFile() {
        const fileDiv = document.createElement('div');
        fileDiv.innerHTML =`
            <div class="file_input">
                <input type="text" readonly />
                <label> 첨부파일
                    <input type="file" name="file" onchange="selectFile(this);" required />
                </label>
            </div>
            <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
        `;
        document.querySelector('.file_list').appendChild(fileDiv);
    }

    // 파일 삭제
    function removeFile(element) {
        const fileAddBtn = element.nextElementSibling;
        if (fileAddBtn) {
            const inputs = element.previousElementSibling.querySelectorAll('input');
            inputs.forEach(input => input.value = '')
            return false;
        }
        element.parentElement.remove();
    }
</script>
</body>
</html>